Frontend/src/conf/xml-resources/web-service-references/StudyServices/wsdl/localhost_8080/Backend/StudyServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.at/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.at/">

<xs:element name="addOrUpdateCourse" type="tns:addOrUpdateCourse"/>

<xs:element name="addOrUpdateCourseResponse" type="tns:addOrUpdateCourseResponse"/>

<xs:element name="addOrUpdateGrade" type="tns:addOrUpdateGrade"/>

<xs:element name="addOrUpdateGradeResponse" type="tns:addOrUpdateGradeResponse"/>

<xs:element name="addOrUpdatePerson" type="tns:addOrUpdatePerson"/>

<xs:element name="addOrUpdatePersonResponse" type="tns:addOrUpdatePersonResponse"/>

<xs:element name="addPersonToCourse" type="tns:addPersonToCourse"/>

<xs:element name="addPersonToCourseResponse" type="tns:addPersonToCourseResponse"/>

<xs:element name="deleteCourse" type="tns:deleteCourse"/>

<xs:element name="deleteCourseResponse" type="tns:deleteCourseResponse"/>

<xs:element name="deletePersonFromCourse" type="tns:deletePersonFromCourse"/>

<xs:element name="deletePersonFromCourseResponse" type="tns:deletePersonFromCourseResponse"/>

<xs:element name="loadCourseList" type="tns:loadCourseList"/>

<xs:element name="loadCourseListResponse" type="tns:loadCourseListResponse"/>

<xs:element name="loadPersonDetails" type="tns:loadPersonDetails"/>

<xs:element name="loadPersonDetailsResponse" type="tns:loadPersonDetailsResponse"/>

<xs:element name="loadStudentList" type="tns:loadStudentList"/>

<xs:element name="loadStudentListResponse" type="tns:loadStudentListResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="outputPayloadCourse" type="tns:outputPayloadCourse"/>

<xs:element name="outputPayloadPerson" type="tns:outputPayloadPerson"/>

<xs:complexType name="deletePersonFromCourse">
<xs:sequence>
<xs:element name="courseParam" type="tns:inputPayloadCourse" minOccurs="0"/>
<xs:element name="personParam" type="tns:inputPayloadPerson" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inputPayloadCourse">
<xs:sequence>
<xs:element name="coursePk" type="xs:int" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="duration" type="xs:int" minOccurs="0"/>
<xs:element name="personCourseMemberships" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="semester" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inputPayloadPerson">
<xs:sequence>
<xs:element name="lastname" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="personPk" type="xs:int" minOccurs="0"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePersonFromCourseResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loadStudentList">
<xs:sequence>
<xs:element name="parameter" type="tns:inputPayloadCourse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loadStudentListResponse">
<xs:sequence>
<xs:element name="return" type="tns:outputPayloadPerson" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="outputPayloadPerson">
<xs:sequence>
<xs:element name="lastname" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="personPk" type="xs:int" minOccurs="0"/>
<xs:element name="persons" type="tns:person" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="person">
<xs:sequence>
<xs:element name="grade" type="xs:int" minOccurs="0"/>
<xs:element name="lastname" type="xs:string" minOccurs="0"/>
<xs:element name="membership" type="xs:boolean"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="personCourseMemberships" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="personPk" type="xs:int" minOccurs="0"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addOrUpdatePerson">
<xs:sequence>
<xs:element name="parameter" type="tns:inputPayloadPerson" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addOrUpdatePersonResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loadCourseList">
<xs:sequence>
<xs:element name="parameter" type="tns:inputPayloadPerson" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loadCourseListResponse">
<xs:sequence>
<xs:element name="return" type="tns:outputPayloadCourse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="outputPayloadCourse">
<xs:sequence>
<xs:element name="coursePk" type="xs:int" minOccurs="0"/>
<xs:element name="courses" type="tns:course" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="duration" type="xs:int" minOccurs="0"/>
<xs:element name="errorCode" type="xs:int" minOccurs="0"/>
<xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
<xs:element name="personCourseMemberships" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="semester" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="course">
<xs:sequence>
<xs:element name="coursePk" type="xs:int" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="duration" type="xs:int"/>
<xs:element name="grade" type="xs:int" minOccurs="0"/>
<xs:element name="lecturer" type="xs:string" minOccurs="0"/>
<xs:element name="personCourseMemberships" type="xs:anyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="semester" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCourse">
<xs:sequence>
<xs:element name="parameter" type="tns:inputPayloadCourse" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteCourseResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addOrUpdateGrade">
<xs:sequence>
<xs:element name="courseParam" type="tns:inputPayloadCourse" minOccurs="0"/>
<xs:element name="personParam" type="tns:inputPayloadPerson" minOccurs="0"/>
<xs:element name="grade" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addOrUpdateGradeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="parameter" type="tns:inputPayloadPerson" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:outputPayloadPerson" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loadPersonDetails">
<xs:sequence>
<xs:element name="parameter" type="tns:inputPayloadPerson" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loadPersonDetailsResponse">
<xs:sequence>
<xs:element name="return" type="tns:outputPayloadPerson" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addOrUpdateCourse">
<xs:sequence>
<xs:element name="courseParam" type="tns:inputPayloadCourse" minOccurs="0"/>
<xs:element name="personParam" type="tns:inputPayloadPerson" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addOrUpdateCourseResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPersonToCourse">
<xs:sequence>
<xs:element name="courseParam" type="tns:inputPayloadCourse" minOccurs="0"/>
<xs:element name="personParam" type="tns:inputPayloadPerson" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addPersonToCourseResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>